$big-gutter:                    50px;
$default-gutter:                30px;
$small-gutter:                  10px;

$size__font-body:             16px;

$color__theme-primary:           #2d3290;
$color__highlight:              lighten($color__theme-primary, 20%);
$color__highlight-bg:           lighten($color__theme-primary, 50%);
